.footer {
	background-color: $color-dark-grey-3;
	padding: 8rem;
	color: $color-grey-light-1;

	@include adapt(tab-port) {
		padding: 6rem;
	}

	@include adapt(phone) {
		padding: 4rem;
	}

	&__logo {
		width: 16rem;
	}

	&__navigation,
	&__copyright {
		border-top: 1px solid $color-dark-grey;
		padding-top: 1.2rem;

		@include adapt(tab-port) {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}
	}

	&__list {
		list-style: none;
	}

	&__nav-item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.6rem;
		}
	}

	&__nav-link {
		display: inherit;
		&:link,
		&:visited {
			color: inherit;
			text-transform: uppercase;
			text-decoration: none;
		}

		&:hover,
		&:active {
			color: $color-primary;
			transform: scale(1.2);
		}
	}
}
